/* About section */
.about {
  background: rgb(29, 29, 29);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
    transition: all 0.3s ease-in-out;

  color: #7c3aed;
}
.section-title:hover {
  color: #7244ff;
  scale: 1.05;;
  transition: all 0.3s ease-in-out;
}

.about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: center;
  border-radius: 20px;
  background-color: #222;
padding: 2rem;
transition: scale 0.3s ease-in-out;
}

.about-content:hover {
  scale: 1.01;
  transition: scale 0.3s ease-in-out;
}


.about-text p {
  margin-bottom: 1.5rem;
  color: #ccc;
  line-height: 1.6;
  font-size: 1.1rem;
}

.about-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgb(29, 29, 29);
}

.stat {
  text-align: center;
  background-color: #222;
  border-radius: 15px;
  padding: 1.5rem;
}

.stat h3 {
  font-size: 2rem;
  color: #7c3aed;
  margin-bottom: 0.5rem;
}

.stat p {
  color: #999;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  
  .container {
    padding: 0 1rem;
  }
}
